---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  
  <p align="center" style="font-size: 14px;">5, 4, 3, 2, 1, Read below!</p>
  {{ content }}
</article>

<hr>

{% include share-buttons.html %}
<br>
<span>Follow me on <a href="https://twitter.com/qooldb">twitter</a> </span>

<hr>

<br>
<span>YOU MIGHT ALSO LIKE</span>

{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:4 %}
{% for post in posts %}
  {% include related-post.html %}
{% endfor %}

   {% if site.disqus-shortname %}
   {% include disqus.html %}
   {% endif %}